### Code Hist.

 - CODE  
    &ensp; : Crawling - 특일 정보 조회 (KASI) (UTC+09:00) 서울 기준  
 - DESC  
    &ensp; : 데이터 수집 - 특일/휴일정보를 조회하여 CSV 파일로 추출  
    &emsp;  
 - DATE  
    &ensp; 2023-06-09 Created  
    &ensp; 2023-07-18 Moded  
    &ensp; 2023-10-18 Code 공통화  
    &ensp; 2023-10-19 Daily / Hourly(24시간계 적용) 출력 완성  
    &ensp; 2023-11-17 Code 공통화 및 DEV 모듈 사용  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; DEV_COMMON_DATA_DATETIME Module 사용  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; DEV_KASI Module 생성 및 코드 이전  
    &ensp; 2023-11-22 Environment 부분 제거  
    &ensp; 2024-01-07 Day of the Week, Week of the Year 부분 추가  
 - DATA  
    &emsp; <"Input">  
    1) None (Input Dataset)  
    &emsp;- Period :   
    &emsp;- Interval : 

    &emsp; <"Output">  
    1) Hourly (관측소/년도별 출력)  
    &nbsp;df_data_cal.to_csv(data_dir + 'KASI_DATE_D_Final.csv', index = False, encoding='utf-8-sig')  
    &emsp;- Columns : ['YEAR', 'MONTH', 'DAY'  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;, 'dateKind', 'code_day_of_the_week', 'day_of_the_week'  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;, 'rest_YN', 'name_of_holiday', 'dist_from_holiday']
    &emsp;- Period :   
    &emsp;- Interval :  
    
    2) Daily (관측소/년도별 출력)  
    &nbsp;df_data_cal_24.to_csv(data_dir + 'KASI_DATE_H_Final.csv', index = False, encoding='utf-8-sig')  
    &emsp;- Columns : ['locdate', 'YEAR', 'MONTH', 'DAY'  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;, 'dateKind', 'code_day_of_the_week', 'day_of_the_week'  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;, 'rest_YN', 'name_of_holiday', 'dist_from_holiday'  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;, 'HOUR', 'MINUTE']
    &emsp;- Period :   
    &emsp;- Interval :  
  
 - Related Link  
    &ensp; :

# 00. Environment  
- Module Install / Device / GPU

## 00-01. Module Install (PIP)

In [1]:
## ▶ For Environment
## ▶ [필요시에만] Anaconda 필수 Module 
# !conda update conda
# !conda update --all

# !python -m pip install --upgrade pip

## ▶ 개발환경 Freeze
# !pip freeze

In [2]:
## ▶ For Dev
## ▶ (필요시 설치 가능) Protobuf (관련 오류가 날 경우에 사용했음)
## https://velog.io/@alvinlee9/ImportError-cannot-import-name-builder-from-google.protobuf.internal
# !pip install --upgrade protobuf
# !pip install protobuf==3.19.4
# from google.protobuf.internal import builder as _builder
# from google.protobuf import descriptor as _descriptor
# from google.protobuf import descriptor_pool as _descriptor_pool

## ▶ Python 기본 Module
# !pip install numpy

## ▶ (필요시 설치 가능) Python Optional Module
# !pip install --upgrade category_encoders
# !pip install gdown
# !pip install kaggle
# !pip install lightgbm

## ▶ (필요시 설치 가능) For TCN 
# !pip uninstall tensorflow
# !pip install tensorflow==2.9.1
# !pip install tensorflow-gpu==2.10.0
## TCN 관련 Module
# !pip install tqdm
# !pip install feature-engine
# !pip install tensorflow-addons
## KerasTCN 라이브러리 (미사용)
# !pip install keras-tcn --user
# !pip install keras-tcn --no-dependencies  # without the dependencies if you already have TF/Numpy.
# !pip install tcn

In [3]:
## Excel To Pandas DF
# !pip install openpyxl
# !pip install openpyxl --upgrade
# !pip install xlrd

### 00-02-01. Device Check (GPU)

In [4]:
!nvidia-smi

Fri Nov 17 18:47:00 2023
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 545.84                 Driver Version: 545.84       CUDA Version: 12.3     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                     TCC/WDDM  | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  NVIDIA GeForce RTX 4090      WDDM  | 00000000:01:00.0  On |                  Off |
| 44%   28C    P8              21W / 450W |   2086MiB / 24564MiB |      7%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
|    0   N/A  N/A      4980    C+G   ...5n1h2txyewy\ShellExperienceHost.exe    N/A      |
|    0   N/A  N/A      7960    C+G   ...Programs\Microsoft VS Code\Code.exe    N/A      |
|    0   N/A  N/A      8764    C+G   C:\Windows\explorer.exe                   N/A      |
|    0   N/A  N/A      9360    C+G   ...b3d8bbwe\Microsoft.Media.Player.exe    N/A      |
|    0   N/A  N/A     10012    C+G   ...__8wekyb3d8bbwe\Microsoft.Notes.exe    N/A      |
|    0   N/A  N/A     10572    C+G   ...2txyewy\StartMenuExperienceHost.exe    N/A      |
|    0   N/A  N/A     10964    C+G   ...ekyb3d8bbwe\PhoneExperienceHost.exe    N/A      |
|    0   N/A  N/A     11236    C+G   ...oogle\Chrome\Application\chrome.exe    N/A      |
|    0   N/A  N/A     11616    C+G   ....Search_cw5n1h2txyewy\SearchApp.exe    N/A      |
|    0   N/A  N/A     11856      C   ...in\anaconda3\envs\dev-ts\python.exe    N/A      |
|    0   N/A  N/A     14972    C+G   ...les\Microsoft OneDrive\OneDrive.exe    N/A      |
|    0   N/A  N/A     15596    C+G   ...US\ArmouryDevice\asus_framework.exe    N/A      |
|    0   N/A  N/A     18276    C+G   ...CBS_cw5n1h2txyewy\TextInputHost.exe    N/A      |
|    0   N/A  N/A     19984    C+G   ...crosoft\Edge\Application\msedge.exe    N/A      |
|    0   N/A  N/A     20936    C+G   ...\HncUtils\Service\HncUpdateTray.exe    N/A      |
+---------------------------------------------------------------------------------------+

In [5]:
import tensorflow as tf
from tensorflow.python.client import device_lib

print(tf.__version__)

print(device_lib.list_local_devices())
print(tf.config.list_physical_devices('GPU'))
tf.test.is_gpu_available()

print(device_lib.list_local_devices())

2.10.0
[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 6389366368593748333
xla_global_id: -1
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 22395486208
locality {
  bus_id: 1
  links {
  }
}
incarnation: 16152161573642444825
physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 4090, pci bus id: 0000:01:00.0, compute capability: 8.9"
xla_global_id: 416903419
]
[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
WARNING:tensorflow:From C:\Users\Admin\AppData\Local\Temp\ipykernel_5492\32622124.py:8: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.
[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 16615350060065440711
xla_global_id: -1
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 22395486208
locality {
  bus_id: 1
  links {
  }
}
incarnation: 14444986846319223140
physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 4090, pci bus id: 0000:01:00.0, compute capability: 8.9"
xla_global_id: 416903419
]

### 00-02-02. Device Config (GPU 사용 설정)

In [6]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "0"

tf.debugging.set_log_device_placement(True)

In [7]:
gpus = tf.config.list_physical_devices('GPU')
print(gpus)
if gpus:
  try : tf.config.experimental.set_memory_growth(gpus[0], True)
  except RuntimeError as e: print(e) # 프로그램 시작시에 메모리 증가가 설정되어야만 합니다

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [8]:
with tf.device('/CPU:0'):
  a = tf.constant([[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]])
  b = tf.constant([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]])

c = tf.matmul(a, b)
print(c)

Executing op MatMul in device /job:localhost/replica:0/task:0/device:GPU:0
tf.Tensor(
[[22. 28.]
 [49. 64.]], shape=(2, 2), dtype=float32)

# 01. Code

## 01-01. Init

### 01-01-01. Init_Module Import

In [17]:
#region Basic_Import
## Basic
import os
os.path.dirname(os.path.abspath('__file__'))
import sys
sys.path.append(os.path.dirname(os.path.abspath(os.path.dirname('__file__'))))

import warnings
warnings.filterwarnings('ignore')

import numpy as np, pandas as pd
from pandas import DataFrame, Series

## Datetime
import time
import datetime as dt
from datetime import datetime, date, timedelta

import glob
from glob import glob
import requests
import json

from scipy import stats

## Excel/CSV
import openpyxl, xlrd

import urllib
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus

from selenium import webdriver
from selenium.webdriver.chrome.service import Service

from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup

## Init.
pd.options.display.float_format = '{:.10f}'.format
#endregion Basic_Import

In [18]:
## Import_DL
str_tar = "tf"
## For Torch
if str_tar == "torch":
    import torch
    import torch.nn as nn
    from torch.nn.utils import weight_norm
    print("Torch Imported")
## For TF
elif str_tar == "tf":
    import tensorflow as tf
    import tensorflow_addons as tfa
    print("Tensorflow Imported")
else:
    print("Error : Cannot be used except for Keywords")
    print(" : torch / tf")

Tensorflow Imported

In [37]:
## Import_Local (현재 프로그램에서 미사용)
from Src_Dev_Common import DEV_Common_Data_Datetime as com_date
from Src_Dev_Common import DEV_KASI_Holiday as com_Holi
from Src_Dev_Common import DEV_KMA_Weather_ASOS as com_KMA

# from DEV_Common_Data_Preprocessing import resample_by_last, del_outlier_Usages
# from DEV_Common_Data_Visualization import visualization_df
# from DEV_KMA_Weather_ASOS import KMA_ASOS_DATA

### 01-01-02. Init_Config (Directory, Params)

In [22]:
## Init_config
SEED = 42

np.random.seed(SEED)
tf.random.set_seed(SEED)
os.environ["PYTHONHASHSEED"] = str(SEED)
os.environ['TF_DETERMINISTIC_OPS'] = "1"
# random.seed(SEED)

In [23]:
## Define Todate str
str_now_ymd = pd.datetime.now().date()
str_now_y, str_now_m, str_now_d = pd.datetime.now().year, pd.datetime.now().month, pd.datetime.now().day
str_now_hr, str_now_min = pd.datetime.now().hour, pd.datetime.now().minute

print(pd.datetime.now())
print(str(str_now_y) + " / " + str(str_now_m)  + " / " + str(str_now_d))
print(str(str_now_hr) + " : " + str(str_now_min))

2024-01-07 22:32:15.157720
2024 / 1 / 7
22 : 32

In [31]:
# Define data root directory
data_dir = "../data/data_Date_KASI/"
print(os.listdir(data_dir))

## 개인 Key (외부 노출 금지)
str_key = "ToJ5xPrx5qm6mkiu814VDRuZ8zEfE1rbOUTiueWB7WHlDcZXcwZV%2B%2FHSF57G0u7RiZ0SKT%2Bo4aPy%2B34FV5iilg%3D%3D"

['DATE_1M_2023-10-20.csv', 'KASI_01-01_specDay_1st_to CSV.csv', 'KASI_01-01_specDay_2010_1st_to CSV.csv', 'KASI_01-01_specDay_2011_1st_to CSV.csv', 'KASI_01-01_specDay_2012_1st_to CSV.csv', 'KASI_01-01_specDay_2013_1st_to CSV.csv', 'KASI_01-01_specDay_2014_1st_to CSV.csv', 'KASI_01-01_specDay_2015_1st_to CSV.csv', 'KASI_01-01_specDay_2016_1st_to CSV.csv', 'KASI_01-01_specDay_2017_1st_to CSV.csv', 'KASI_01-01_specDay_2018_1st_to CSV.csv', 'KASI_01-01_specDay_2019_1st_to CSV.csv', 'KASI_01-01_specDay_2020_1st_to CSV.csv', 'KASI_01-01_specDay_2021_1st_to CSV.csv', 'KASI_01-01_specDay_2022_1st_to CSV.csv', 'KASI_01-01_specDay_2023_1st_to CSV.csv', 'KASI_01-02_restDay_1st_to CSV.csv', 'KASI_01-02_restDay_2010_1st_to CSV.csv', 'KASI_01-02_restDay_2011_1st_to CSV.csv', 'KASI_01-02_restDay_2012_1st_to CSV.csv', 'KASI_01-02_restDay_2013_1st_to CSV.csv', 'KASI_01-02_restDay_2014_1st_to CSV.csv', 'KASI_01-02_restDay_2015_1st_to CSV.csv', 'KASI_01-02_restDay_2016_1st_to CSV.csv', 'KASI_01-02_restDay_2017_1st_to CSV.csv', 'KASI_01-02_restDay_2018_1st_to CSV.csv', 'KASI_01-02_restDay_2019_1st_to CSV.csv', 'KASI_01-02_restDay_2020_1st_to CSV.csv', 'KASI_01-02_restDay_2021_1st_to CSV.csv', 'KASI_01-02_restDay_2022_1st_to CSV.csv', 'KASI_01-02_restDay_2023_1st_to CSV.csv', 'KASI_02_holiDay_intergrated.csv', 'KASI_03_holiDay_weekdayCode.csv', 'KASI_04-01_holiDay_distAdded_hr.csv', 'KASI_04-02_holiDay_distAdded_D.csv', 'KASI_04_2010-2023_DistAdded_24h_Final_2023-07-25.csv', 'KASI_04_2010-2023_DistAdded_Final_2023-07-25.csv', 'KASI_04_2010_2023_DistAdded_Final_2023-10-17.csv', 'KASI_04_holiDay_DistAdded_24h_Final_2023-10-17.csv', 'KASI_04_holiDay_distanceAdded.csv', 'KASI_Date_D.csv', 'KASI_DATE_D_Final.csv', 'KASI_DATE_H_Final.csv', 'test01.csv', 'test03.csv']

In [32]:
## 기간 설정
year_Start, year_End = 2010, 2023
str_dt_start, str_dt_end = str(year_Start)+'-01-01', str(year_End)+'-12-31'

## 01-02. Data Load (df_raw)

In [54]:
## Define_범위 내 시간 데이터 생성 (Hourly, Daily)
## [2024-01-07] 시간단위는 불필요하여 제거 (어짜피 나중에 Y/M/D행 기준으로 Merge하면 됨)
## Daily
df_dateRange_d = pd.DataFrame()
df_dateRange_d = com_date.create_df_dt(df_dateRange_d, "DATETIME", str_dt_start, str_dt_end, '1D')
print(df_dateRange_d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5113 entries, 0 to 5112
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATETIME              5113 non-null   datetime64[ns]
 1   day_of_the_week       5113 non-null   object
 2   YEAR                  5113 non-null   int64
 3   MONTH                 5113 non-null   int64
 4   DAY                   5113 non-null   int64
 5   HOUR                  5113 non-null   int64
 6   MINUTE                5113 non-null   int64
 7   code_day_of_the_week  5113 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 319.7+ KB
None

### 01-02. Data Load (df_raw)

#### 01-02-01. 국경일/공휴일/기념일 Data Load 
 - 기념일은 제외, 근로자의 날은 수동으로 추가 예정)  
 - 참고 : 근로자의 날은 2016년 1월 27일부로 법정 공휴일로 제정됨  
 (https://www.law.go.kr/%EB%B2%95%EB%A0%B9/%EA%B7%BC%EB%A1%9C%EC%9E%90%EC%9D%98%EB%82%A0%EC%A0%9C%EC%A0%95%EC%97%90%EA%B4%80%ED%95%9C%EB%B2%95%EB%A5%A0)

In [39]:
## 해당 서버 연결이 불안정하여, 크롤링이 자꾸 끊김.
## Yearly Load 부분을 분리함.
for year in range(year_Start, year_End + 1):
    print(str(year))
    ## Initialize Dataframe
    df_specDay, df_restDay = pd.DataFrame(), pd.DataFrame()
    
    ## 국경일
    df_specDay_tmp = com_Holi.KASI_holiDay(year, str_key)
    df_specDay = pd.concat([df_specDay, pd.DataFrame(df_specDay_tmp)])
    
    ## 공휴일
    df_restDay_tmp = com_Holi.KASI_restDay(year, str_key)
    df_restDay = pd.concat([df_restDay, pd.DataFrame(df_restDay_tmp)])
    
    ## 기념일
    ## 기념일은 제외하여 활용
#     for i in range(0, len(df_specDay)):
#         if df_specDay.at[i, 'isHoliday'] == 'Y':
#             print(df_specDay.at[i, 'isHoliday'])
    
    ## Exporting (Yearly)
    df_specDay.to_csv(data_dir + 'KASI_01-01_specDay_' + str(year) + '_1st_to CSV.csv', index = False, encoding='utf-8-sig')
    df_restDay.to_csv(data_dir + 'KASI_01-02_restDay_' + str(year) + '_1st_to CSV.csv', index = False, encoding='utf-8-sig')

2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [40]:
## Yearly Data를 통합
df_specDay, df_restDay = pd.DataFrame(), pd.DataFrame()
for year in range(year_Start, year_End + 1):
    print(str(year))
        
    df_specDay_tmp = pd.read_csv(data_dir + 'KASI_01-01_specDay_' + str(year) + '_1st_to CSV.csv', encoding='utf-8-sig')
    df_restDay_tmp = pd.read_csv(data_dir + 'KASI_01-02_restDay_' + str(year) + '_1st_to CSV.csv', encoding='utf-8-sig')
    
    ## Save -> Load 과정에서 Object로 바뀐다. 
    ## 비효율적 연산 제거 (평균 0.3s 정도에서 평균 0.1s로 감소)
    # df_specDay_tmp['locdate'] = pd.to_datetime(df_specDay_tmp['locdate'], format='%Y%m%d') #, format='%Y%m%d %H%M%S')
    # df_restDay_tmp['locdate'] = pd.to_datetime(df_restDay_tmp['locdate'], format='%Y%m%d') #, format='%Y%m%d %H%M%S')
    # df_specDay_tmp['locdate'] = df_specDay_tmp['locdate'].astype('datetime64[ns]')
    # df_restDay_tmp['locdate'] = df_restDay_tmp['locdate'].astype('datetime64[ns]')

    df_specDay = pd.concat([df_specDay, df_specDay_tmp])
    df_restDay = pd.concat([df_restDay, df_restDay_tmp])

2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [41]:
print(df_specDay.info())
print(df_restDay.info())

## Export
df_specDay.to_csv(data_dir + 'KASI_01-01_specDay_1st_to CSV.csv', index = False, encoding='utf-8-sig')
df_restDay.to_csv(data_dir + 'KASI_01-02_restDay_1st_to CSV.csv', index = False, encoding='utf-8-sig')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 0 to 18
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateKind   253 non-null    int64
 1   dateName   253 non-null    object
 2   isHoliday  253 non-null    object
 3   locdate    253 non-null    int64
 4   seq        253 non-null    int64
 5   remarks    16 non-null     object
dtypes: int64(3), object(3)
memory usage: 13.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 0 to 17
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateKind   236 non-null    int64
 1   dateName   236 non-null    object
 2   isHoliday  236 non-null    object
 3   locdate    236 non-null    int64
 4   seq        236 non-null    int64
dtypes: int64(3), object(2)
memory usage: 11.1+ KB
None

#### ▶ [Flag 01] 기존에 저장된 CSV 파일이 있는 경우
현 지점부터 시작해도 괜찮다.

In [42]:
## CSV Data Load
df_specDay = pd.read_csv(data_dir + 'KASI_01-01_specDay_1st_to CSV.csv', encoding='utf-8-sig')
df_restDay = pd.read_csv(data_dir + 'KASI_01-02_restDay_1st_to CSV.csv', encoding='utf-8-sig')
print(len(df_specDay))
print(len(df_restDay))
df_specDay.head(10)

253
236

,dateKind,dateName,isHoliday,locdate,seq,remarks
0,1,신정,Y,20100101,1,NaN
1,1,설날,Y,20100213,1,NaN
2,1,설날,Y,20100214,1,NaN
3,1,설날,Y,20100215,1,NaN
4,1,삼일절,Y,20100301,1,NaN
5,1,어린이날,Y,20100505,1,NaN
6,1,석가탄신일,Y,20100521,1,NaN
7,1,현충일,Y,20100606,1,NaN
8,1,제헌절,N,20100717,1,국경일(2005. 12. 29. 법률 7771호)이지만 관공서의 공휴일(2006. ...
9,1,광복절,Y,20100815,1,NaN

In [43]:
## Data 확인
print(df_specDay.info())
# print(df_specDay)
print(df_restDay.info())
# print(df_restDay)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateKind   253 non-null    int64
 1   dateName   253 non-null    object
 2   isHoliday  253 non-null    object
 3   locdate    253 non-null    int64
 4   seq        253 non-null    int64
 5   remarks    16 non-null     object
dtypes: int64(3), object(3)
memory usage: 12.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateKind   236 non-null    int64
 1   dateName   236 non-null    object
 2   isHoliday  236 non-null    object
 3   locdate    236 non-null    int64
 4   seq        236 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.3+ KB
None

In [44]:
print(df_dateRange_d.info())
# print(df_dateRange_d)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122689 entries, 0 to 122688
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   DATETIME              122689 non-null  datetime64[ns]
 1   day_of_the_week       122689 non-null  object
 2   YEAR                  122689 non-null  int64
 3   MONTH                 122689 non-null  int64
 4   DAY                   122689 non-null  int64
 5   HOUR                  122689 non-null  int64
 6   MINUTE                122689 non-null  int64
 7   code_day_of_the_week  122689 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 7.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122689 entries, 0 to 122688
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   DATETIME              122689 non-null  datetime64[ns]
 1   day_of_the_week       122689 non-null  object
 2   YEAR                  122689 non-null  int64
 3   MONTH                 122689 non-null  int64
 4   DAY                   122689 non-null  int64
 5   HOUR                  122689 non-null  int64
 6   MINUTE                122689 non-null  int64
 7   code_day_of_the_week  122689 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 7.5+ MB
None

### 01-03. Dataframe Intergration
수집된 데이터를 통합

#### 01-03-01. Daily Data Intergration
시간 데이터(일간) 통합

In [52]:
## 사전작업
## 임시/취합 Dataset 정의
df_data_cal = pd.DataFrame()

## 취합할 데이터의 "locdate"를 datetime으로 변경
df_dateRange_d['DATETIME'] = pd.to_datetime(df_dateRange_d['DATETIME'], format='%Y%m%d') #, format='%Y%m%d %H%M%S')
df_specDay['DATETIME'] = pd.to_datetime(df_specDay['locdate'], format='%Y%m%d') #, format='%Y%m%d %H%M%S')
df_restDay['DATETIME'] = pd.to_datetime(df_restDay['locdate'], format='%Y%m%d') #, format='%Y%m%d %H%M%S')

## Column 정렬 및 삭제
df_specDay = df_specDay[['DATETIME', 'dateKind', 'dateName', 'isHoliday']]
df_restDay = df_restDay[['DATETIME', 'dateKind', 'dateName', 'isHoliday']]

df_dateRange_d
df_specDay
df_restDay

In [47]:
df_restDay

      DATETIME  dateKind dateName isHoliday
0   2010-01-01         1       신정         Y
1   2010-02-13         1       설날         Y
2   2010-02-14         1       설날         Y
3   2010-02-15         1       설날         Y
4   2010-03-01         1      삼일절         Y
..         ...       ...      ...       ...
231 2023-09-30         1       추석         Y
232 2023-10-02         1    임시공휴일         Y
233 2023-10-03         1      개천절         Y
234 2023-10-09         1      한글날         Y
235 2023-12-25         1    기독탄신일         Y

[236 rows x 4 columns]

In [56]:
df_data_cal = pd.merge(df_dateRange_d, df_specDay, how='left', on=['DATETIME'])
df_data_cal = df_data_cal.drop_duplicates()
df_data_cal.head(5)

df_data_cal = pd.merge(df_data_cal, df_restDay, how='left', on=['DATETIME', 'dateKind', 'dateName', 'isHoliday'])
df_data_cal = df_data_cal.drop_duplicates()
df_data_cal.head(5)

,DATETIME,day_of_the_week,YEAR,MONTH,DAY,HOUR,MINUTE,code_day_of_the_week,dateKind,dateName,isHoliday
0,2010-01-01,Friday,2010,1,1,0,0,4,1.0000000000,신정,Y
1,2010-01-02,Saturday,2010,1,2,0,0,5,NaN,NaN,NaN
2,2010-01-03,Sunday,2010,1,3,0,0,6,NaN,NaN,NaN
3,2010-01-04,Monday,2010,1,4,0,0,0,NaN,NaN,NaN
4,2010-01-05,Tuesday,2010,1,5,0,0,1,NaN,NaN,NaN

In [68]:
## Mod Column
df_data_cal = df_data_cal.rename(columns={'isHoliday':'rest_YN', 'dateName':'name_of_holiday'})

## 불필요 Column(seq, remark) 제외 및 순서 변경
df_data_cal['DATETIME'] = pd.to_datetime(df_data_cal['DATETIME'])
df_data_cal['WEEK'] = df_data_cal['DATETIME'].dt.strftime('%G-%V') 

df_data_cal = df_data_cal[['DATETIME', 'YEAR', 'MONTH', 'DAY', 'WEEK'
                           , 'day_of_the_week', 'code_day_of_the_week', 'rest_YN', 'name_of_holiday'
                           , 'HOUR', 'MINUTE']]

print(df_data_cal.info())
df_data_cal.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5114 entries, 0 to 5113
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATETIME              5114 non-null   datetime64[ns]
 1   YEAR                  5114 non-null   int64
 2   MONTH                 5114 non-null   int64
 3   DAY                   5114 non-null   int64
 4   WEEK                  5114 non-null   object
 5   day_of_the_week       5114 non-null   object
 6   code_day_of_the_week  5114 non-null   int64
 7   rest_YN               5114 non-null   object
 8   name_of_holiday       5114 non-null   object
 9   HOUR                  5114 non-null   int64
 10  MINUTE                5114 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(4)
memory usage: 479.4+ KB
None

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0

#### 01-03-02. 휴일여부 체크 및 Numeric 변환

In [69]:
## 휴일 여부
## Y -> 1 / N -> 0으로 변환
df_data_cal.loc[(df_data_cal['rest_YN']=='Y'), 'rest_YN'] = '1'
df_data_cal.loc[(df_data_cal['rest_YN']=='N'), 'rest_YN'] = '0'
df_data_cal['rest_YN'] = df_data_cal['rest_YN'].fillna('0')

## 휴일 명칭
## 없을 경우 '-'로 변경
df_data_cal['name_of_holiday'] = df_data_cal['name_of_holiday'].fillna('-')

## 주말인 경우 휴일로 지정
## Sunday / Saturday는 휴일 처리
df_data_cal.loc[(df_data_cal['day_of_the_week']=='Sunday') 
                | (df_data_cal['day_of_the_week']=='Saturday'), 'rest_YN'] = '1'

In [70]:
## Export
df_data_cal.to_csv(data_dir + 'KASI_02_holiDay_intergrated.csv', index = False, encoding='utf-8-sig')

#### ▶ [Flag 02] 기존에 저장된 CSV 파일이 있는 경우
현 지점부터 시작해도 괜찮다.

In [72]:
df_data_cal = pd.read_csv(data_dir + 'KASI_02_holiDay_intergrated.csv', encoding='utf-8-sig')
len(df_data_cal)
df_data_cal.head(10)

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0

#### 01-03-03. code_of_the_week (요일코드) 추가

In [73]:
## data_cal에 code_day_of_the_week 컬럼 추가 및 변환
df_data_cal['code_day_of_the_week'] = df_data_cal['name_of_holiday']
dict_weekday ={"Monday" : 0, "Tuesday" : 1, "Wednesday" : 2, "Thursday" : 3
               , "Friday" : 4, "Saturday" : 5, "Sunday" : 6}

for i in range(0, len(df_data_cal)):
    df_data_cal['code_day_of_the_week'].iloc[i] = dict_weekday.get(df_data_cal['day_of_the_week'].iloc[i])
    
df_data_cal.head(10)

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0

In [74]:
## Export
df_data_cal.to_csv(data_dir + 'KASI_03_holiDay_weekdayCode.csv', index = False, encoding='utf-8-sig')

#### ▶ [Flag 03] 기존에 저장된 CSV 파일이 있는 경우
현 지점부터 시작해도 괜찮다.

In [75]:
df_data_cal = pd.read_csv(data_dir + 'KASI_03_holiDay_weekdayCode.csv', encoding='utf-8-sig')
len(df_data_cal)
df_data_cal.head(10)

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0

#### 01-03-04. dist_from_holiday (휴일로부터의 일수) 개념 추가

In [76]:
## data_cal에 dist_from_holiday 컬럼 추가
df_data_cal['dist_from_holiday'] = df_data_cal['name_of_holiday']

In [77]:
int_weekday_stack = 0
for i in range(len(df_data_cal), 0, -1):
    ## 현재행이 휴일인 경우,
    ## int_weekday_stack을 0으로 변경하고, 해당 값에 dist_from_holiday을 대입
    ## 다음 행에 대한 연산을 위해 int_weekday_stack 값을 1만큼 증가
    if str(df_data_cal['rest_YN'].iloc[i - 1]) == "1":
        int_weekday_stack = 0
        df_data_cal['dist_from_holiday'].iloc[i - 1] = int_weekday_stack
        int_weekday_stack = int_weekday_stack + 1
        continue
        
    ## 현재행이 평일인 경우,
    ## 해당 값에 dist_from_holiday을 대입
    ## 다음 행에 대한 연산을 위해 int_weekday_stack 값을 1만큼 증가
    if str(df_data_cal['rest_YN'].iloc[i - 1]) == "0":
        df_data_cal['dist_from_holiday'].iloc[i - 1] = int_weekday_stack
        int_weekday_stack = int_weekday_stack + 1
#     print(i)
#     print(data_cal.iloc[i - 1])
df_data_cal.to_csv(data_dir + 'KASI_04-01_holiDay_distAdded_hr.csv', index = False, encoding='utf-8-sig')
df_data_cal.head(50)

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE,dist_from_holiday
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0,5
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0,4
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0,3
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0,2
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0,1
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0,0
10,2010-01-11,2010,1,11,2010-02,Monday,0,0,-,0,0,5
11,2010-01-12,2010,1,12,2010-02,Tuesday,1,0,-,0,0,4
12,2010-01-13,2010,1,13,2010-02,Wednesday,2,0,-,0,0,3
13,2010-01-14,2010,1,14,2010-02,Thursday,3,0,-,0,0,2
14,2010-01-15,2010,1,15,2010-02,Friday,4,0,-,0,0,1
15,2010-01-16,2010,1,16,2010-02,Saturday,5,1,-,0,0,0
16,2010-01-17,2010,1,17,2010-02,Sunday,6,1,-,0,0,0
17,2010-01-18,2010,1,18,2010-03,Monday,0,0,-,0,0,5
18,2010-01-19,2010,1,19,2010-03,Tuesday,1,0,-,0,0,4
19,2010-01-20,2010,1,20,2010-03,Wednesday,2,0,-,0,0,3
20,2010-01-21,2010,1,21,2010-03,Thursday,3,0,-,0,0,2
21,2010-01-22,2010,1,22,2010-03,Friday,4,0,-,0,0,1
22,2010-01-23,2010,1,23,2010-03,Saturday,5,1,-,0,0,0
23,2010-01-24,2010,1,24,2010-03,Sunday,6,1,-,0,0,0
24,2010-01-25,2010,1,25,2010-04,Monday,0,0,-,0,0,5
25,2010-01-26,2010,1,26,2010-04,Tuesday,1,0,-,0,0,4
26,2010-01-27,2010,1,27,2010-04,Wednesday,2,0,-,0,0,3
27,2010-01-28,2010,1,28,2010-04,Thursday,3,0,-,0,0,2
28,2010-01-29,2010,1,29,2010-04,Friday,4,0,-,0,0,1
29,2010-01-30,2010,1,30,2010-04,Saturday,5,1,-,0,0,0
30,2010-01-31,2010,1,31,2010-04,Sunday,6,1,-,0,0,0
31,2010-02-01,2010,2,1,2010-05,Monday,0,0,-,0,0,5
32,2010-02-02,2010,2,2,2010-05,Tuesday,1,0,-,0,0,4
33,2010-02-03,2010,2,3,2010-05,Wednesday,2,0,-,0,0,3
34,2010-02-04,2010,2,4,2010-05,Thursday,3,0,-,0,0,2
35,2010-02-05,2010,2,5,2010-05,Friday,4,0,-,0,0,1
36,2010-02-06,2010,2,6,2010-05,Saturday,5,1,-,0,0,0
37,2010-02-07,2010,2,7,2010-05,Sunday,6,1,-,0,0,0
38,2010-02-08,2010,2,8,2010-06,Monday,0,0,-,0,0,5
39,2010-02-09,2010,2,9,2010-06,Tuesday,1,0,-,0,0,4
40,2010-02-10,2010,2,10,2010-06,Wednesday,2,0,-,0,0,3
41,2010-02-11,2010,2,11,2010-06,Thursday,3,0,-,0,0,2
42,2010-02-12,2010,2,12,2010-06,Friday,4,0,-,0,0,1
43,2010-02-13,2010,2,13,2010-06,Saturday,5,1,설날,0,0,0
44,2010-02-14,2010,2,14,2010-06,Sunday,6,1,설날,0,0,0
45,2010-02-15,2010,2,15,2010-07,Monday,0,1,설날,0,0,0
46,2010-02-16,2010,2,16,2010-07,Tuesday,1,0,-,0,0,4
47,2010-02-17,2010,2,17,2010-07,Wednesday,2,0,-,0,0,3
48,2010-02-18,2010,2,18,2010-07,Thursday,3,0,-,0,0,2
49,2010-02-19,2010,2,19,2010-07,Friday,4,0,-,0,0,1

#### ▶ [Export_D] 일간 데이터 추출

In [78]:
## Export
df_data_cal.to_csv(data_dir + 'KASI_04-02_holiDay_distAdded_D.csv', index = False, encoding='utf-8-sig')
df_data_cal.head(10)

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE,dist_from_holiday
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0,5
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0,4
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0,3
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0,2
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0,1
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0,0

#### ▶ [Flag 04] 기존에 저장된 CSV 파일이 있는 경우
현 지점부터 시작해도 괜찮다.

In [79]:
df_data_cal = pd.read_csv(data_dir + 'KASI_04-02_holiDay_distAdded_D.csv', encoding='utf-8-sig')
len(df_data_cal)
df_data_cal.head(10)

,DATETIME,YEAR,MONTH,DAY,WEEK,day_of_the_week,code_day_of_the_week,rest_YN,name_of_holiday,HOUR,MINUTE,dist_from_holiday
0,2010-01-01,2010,1,1,2009-53,Friday,4,1,신정,0,0,0
1,2010-01-02,2010,1,2,2009-53,Saturday,5,1,-,0,0,0
2,2010-01-03,2010,1,3,2009-53,Sunday,6,1,-,0,0,0
3,2010-01-04,2010,1,4,2010-01,Monday,0,0,-,0,0,5
4,2010-01-05,2010,1,5,2010-01,Tuesday,1,0,-,0,0,4
5,2010-01-06,2010,1,6,2010-01,Wednesday,2,0,-,0,0,3
6,2010-01-07,2010,1,7,2010-01,Thursday,3,0,-,0,0,2
7,2010-01-08,2010,1,8,2010-01,Friday,4,0,-,0,0,1
8,2010-01-09,2010,1,9,2010-01,Saturday,5,1,-,0,0,0
9,2010-01-10,2010,1,10,2010-01,Sunday,6,1,-,0,0,0

In [80]:
# ## [미사용]
# ## ValueError 방지
# ## locDate 타입을 미리 바꿔주어 오류 방지
# ## ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat
# df_dateRange_h['DATETIME'] = df_dateRange_h['DATETIME'].astype('datetime64[ns]')
# df_data_cal = df_data_cal.drop(['DATETIME'], axis = 1)

# df_data_cal_24 = pd.DataFrame()
# df_data_cal_24 = pd.merge(df_dateRange_h, df_data_cal, how = 'left', on = ['YEAR', 'MONTH', 'DAY', 'day_of_the_week'])
# print(df_data_cal_24.columns)
# df_data_cal_24.head(50)

In [81]:
## Export
df_data_cal.to_csv(data_dir + 'KASI_DATE_D_Final.csv', index = False, encoding='utf-8-sig')
## [2024-01-07] [미사용]
# df_data_cal_24.to_csv(data_dir + 'KASI_DATE_H_Final.csv', index = False, encoding='utf-8-sig')